build/
builddir/
build.log
vite
.vscode/

svite
.github
tests
*.log
.github
CudaText
gnome-text-editor-49.0

core.dmp
*.bak
test*
check_pango*
vscode-themes/
gedit
flatpak/.flatpak-builder
flatpak/repo
flatpak/build-dir
.flatpak-builder
flatpak/repo
flatpak/*.flatpak


sample
samples
